*{
  margin : 0;
  padding : 0;
  font-family : 'poppins', sans-serif;
  box-sizing: border-box;
}

body{
  display:flex;
  min-height: 100vh;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: #f0ffff;
}
img{
  margin-top: 20px;
}
/* label{
  font-size:16px;
} */
.container{
  width:330px;
}
.entryarea{
  margin-top: 20px;
  position:relative;
  height:55px;
  line-height: 55px;
}

input{
  position:absolute;
  width:100%;
  outline:none;
  padding:0 30px;
  font-size: 1.2em;
  line-height: 50px;
  border-radius:10px;
  border: 2px solid #07c1cf;
  background: transparent;
  transition: 0.1s ease;
  z-index:1111;
}

.label{
  position:absolute;
  font-size:1.2em;
  color: #545454;
  padding: 0 15px;
  margin: 0 18px;
  background-color: #f0ffff;
  transition: 0.2s ease;
}

button{
  position:relative;
  background-color: #00aee0;
  color:white;
  padding:15px;
  width:200px;
  font-size:16px;
  border-radius:30px;
  cursor:pointer;
  margin-top: 20px;
}

button:hover{
  background-color: #00aaaee0;
}
button:active {
  background-color: #1f7a7a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input:focus, input:valid{
color: #00aee0;
border: 4px solid #00aee0;
}

input:focus + .label,
input:valid + .label{
  color: #00aee0;
  height:25px;
  line-height: 30px;
  padding:0 12px;
  transform: translate(-15px, -15px) scale(0.9);
  z-index:1111;
}

#result{
  margin-top: 20px;
}